/*! concrete.css v3.0.0 | MIT License | github.com/louismerlin/concrete.css */

:root {
  --fg: #111;
  --bg: #fff;
}

html {
  font-size: 1.1rem; /* 1 */
  box-sizing: border-box; /* 2 */
}

*,
::after,
::before {
  box-sizing: inherit; /* 1 */
  text-decoration-thickness: 0.1rem; /* 2 */
}

body {
  margin: 0; /* 1 */
  background: var(--bg); /* 2 */
  color: var(--fg); /* 2 */
  font-family: Helvetica, Arial, sans-serif; /* 3 */
}

a {
  color: var(--fg);
}

figure {
  margin: 0; /* 1 */
}

figcaption {
  text-align: right; /* 1 */
  font-size: 0.8em; /* 2 */
  border-bottom: 0.2rem solid var(--fg); /* 3 */
  padding-bottom: 0.2rem; /* 4 */
}

img {
  max-width: 100%; /* 1 */
  height: auto; /* 2 */
}

main section + section {
  padding: 2rem 0;
}

body > header,
body > main,
body > footer {
  margin: auto; /* 1 */
  max-width: 660px; /* 2 */
  padding-left: 10px; /* 2 */
  padding-right: 10px; /* 2 */
  width: 100%; /* 2 */
}

/**
 * 1. Add some padding around the main header.
 * 2. Increase the size of text in the main header.
 */

body > header {
  padding-top: 1.5rem; /* 1 */
  padding-bottom: 3rem; /* 1 */
  font-size: 1.2em; /* 2 */
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.67em;
}

footer {
  text-align: center;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block; /* 1 */
  vertical-align: middle; /* 1 */
  padding: 0.2rem 0.5rem; /* 1 */
  font-size: 1rem; /* 1 */
  font-weight: normal; /* 1 */
  margin-bottom: 0.5rem; /* 1 */
  background: var(--bg); /* 2 */
  color: var(--fg); /* 2 */
  border: 0.1rem solid var(--fg); /* 2 */
  border-radius: 0; /* 2 */
  cursor: pointer; /* 3 */
}

button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  border-style: dashed; /* 1 */
  cursor: not-allowed; /* 2 */
}

ul {
  list-style: square;
}

nav {
  margin: 2rem 0;
}

nav ul {
  padding: 0; /* 1 */
  list-style: none; /* 2 */
}

nav ul li {
  margin: 0 0.2rem; /* 1 */
  display: inline-block; /* 2 */
}

fieldset {
  border: 0.1rem solid var(--fg);
}

label,
legend {
  display: block; /* 1 */
  font-weight: bold; /* 1 */
  margin-bottom: 0.4rem; /* 2 */
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none; /* 1 */
  appearance: none; /* 1 */
  box-shadow: none; /* 1 */
  box-sizing: inherit; /* 1 */
  padding: 0.2rem 0.5rem; /* 1 */
  width: 100%; /* 1 */
  font-size: 1rem; /* 1 */
  color: var(--fg); /* 2 */
  background-color: var(--bg); /* 2 */
  border: 0.1rem solid var(--fg); /* 2 */
  border-radius: 0; /* 2 */
  font-family: Helvetica, Arial, sans-serif; /* 3 */
}

/**
 * Set margin for form elements.
 */

fieldset,
input,
select,
textarea {
  margin: 0 0 0.8rem 0;
}

input::placeholder,
textarea::placeholder {
  color: var(--fg); /* 1 */
  font-style: italic; /* 2 */
  opacity: 1;
}

table {
  width: 100%; /* 1 */
  border-spacing: 0; /* 2 */
}

td,
th {
  padding: 0.4rem;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

th {
  border-bottom: 0.1rem solid var(--fg); /* 1 */
  text-align: left; /* 2 */
}
*/ td {
  border-bottom: 0.05rem solid var(--fg);
}

blockquote,
pre {
  margin-left: 0; /* 1 */
  margin-right: 0; /* 1 */
  padding: 0.5rem 0.8rem; /* 1 */
  border-left: 0.1rem solid var(--fg); /* 2 */
  overflow-y: hidden; /* 3 */
}

pre {
  border: 0.05rem dotted var(--fg); /* 1 */
  border-left: 0.1rem solid var(--fg); /* 2 */
}

pre > code {
  white-space: pre; /* 1 */
  display: block; /* 1 */
  font-size: 0.8rem; /* 2 */
}

progress {
  -moz-appearance: none; /* 1 */
  -webkit-appearance: none; /* 1 */
  appearance: none;
  display: block; /* 1 */
  height: 0.5rem; /* 1 */
  overflow: hidden; /* 1 */
  padding: 0; /* 1 */
  width: 100%; /* 1 */
  background: var(--bg); /* 2 */
  color: var(--fg); /* 2 */
  border: 0.1rem solid var(--fg); /* 2 */
  border-radius: 0; /* 2 */
}

progress::-webkit-progress-bar {
  background-color: var(--bg);
}

progress::-webkit-progress-value {
  background-color: var(--fg);
}

progress::-moz-progress-bar {
  background-color: var(--fg);
}

hr {
  border: 0.05rem solid var(--fg);
}

.page-header {
  text-align: center;
  padding-top: 0;
}

.page-header__title {
  margin-top: 0;
  margin-bottom: 0;
  @media (min-width: 1024px) {
    font-size: 3.75rem;
  }
}

.page-header__tagline {
  margin-top: 0;
}

.language-switcher {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 0;
}
