<dialog id="nicknameModal" class="modal">
  <script>
    me().attribute("open", "");
  </script>
  <div class="modal-box shadow-md">
    <header class="flex justify-start items-center text-center gap-3">
      <h2 class="text-lg font-semibold text-center">
        Choose Nickname to continue
      </h2>
    </header>
    <form id="nicknameModalForm" class="flex flex-col gap-2">
      <div id="createusernameAlertContainer" class="mt-2"></div>
      <input type="hidden" name="uid" value="{{.UID}}" />
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Nickname</span>
        </div>
        <input
          type="text"
          name="displayName"
          class="input input-bordered w-full"
          required
        />
      </label>
      <button type="submit" class="btn btn-primary mt-2">Continue</button>
    </form>
    <button
      class="btn btn-ghost btn-block text-error mt-8"
      onclick="nicknameModal.close()"
    >
      Cancel
    </button>
  </div>
  <div class="modal-backdrop bg-white/5"></div>
</dialog>
