<!doctype html>
<html lang="en" class="bg-white [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/dist/styles.css" />
    <title>Wikipediagolf</title>
  </head>
  <body class="bg-white antialiased">
    <div
      class="flex flex-col gap-8 justify-center items-center lg:h-screen bg-base-200 p-3"
    >
      <header>
        <h1 class="text-6xl mt-6 mb-4 text-center font-bold uppercase">
          Wikipedia Golf
        </h1>
        <p class="text-lg text-center">
          Find the shortest way to go from a wiki article to another wiki
          article!
        </p>
      </header>

      <main
        id="main"
        class="mx-auto p-6 max-w-6xl w-full lg:h-[512px] bg-base-100 grid lg:grid-cols-4 gap-6 rounded-box overflow-y-scroll transition-[all]"
      >
        <nav
          class="bg-base-100 flex flex-col gap-6 max-h-[calc(512px-3rem)] lg:sticky lg:top-0"
        >
          <div class="h-full flex flex-col gap-2">
            <a
              href="/rooms/create"
              class="btn btn-lg flex-col items-start justify-center"
            >
              <span>Play</span>
              <span class="font-normal text-xs">Single player</span>
            </a>
            <a
              href="/rooms/create"
              class="btn btn-lg flex-col items-start justify-center"
            >
              <span>Create Room</span>
              <span class="font-normal text-xs">Play with your friends</span>
            </a>
            <a
              href="/rooms/join"
              class="btn btn-lg flex-col items-start justify-center"
            >
              <span>Join Room</span>
              <span class="font-normal text-xs">Join an existing Room</span>
            </a>
            <a
              href="/auth/"
              class="btn btn-lg flex-col items-start justify-center mt-6"
            >
              <span>Sign up / sign in</span>
            </a>
          </div>
        </nav>

        <section class="lg:col-span-3">
          <div role="tablist" class="tabs tabs-lg tabs-lifted">
            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="Leaderboard"
              checked
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              (coming soon!)
            </div>

            <input
              type="radio"
              name="my_tabs_2"
              role="tab"
              class="tab"
              aria-label="Tutorial"
            />
            <div
              role="tabpanel"
              class="tab-content bg-base-100 border-base-300 rounded-box p-6"
            >
              (coming soon!)
            </div>
          </div>
        </section>
      </main>
      <footer>
        <p class="text-neutral-content text-xs text-center lg:mt-auto">
          Created by
          <a
            href="mailto:muhrizqiardi@gmail.com"
            class="link link-info link-hover"
            >Muhammad Rizqi Ardiansyah</a
          >. Articles taken from Wikipedia English.
        </p>
      </footer>
    </div>
  </body>
</html>
