<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <title>Hello world!</title>
  </head>
  <body>
    <div class="language-switcher">
      <button class="language-switcher__button">EN</button>
    </div>
    <header class="page-header">
      <h1 class="page-header__title">WIKIPEDIA GOLF</h1>
      <p class="page-header__tagline">
        Find the shortest way to go from a wiki article to another wiki article!
      </p>
    </header>
    <aside>
      <p><a href="/">Sign up / sign in</a></p>
      <p><a href="/">Singleplayer</a></p>
      <p><a href="/">Create Room</a></p>
      <p><a href="/">Join Room</a></p>
    </aside>
    <main></main>
  </body>
</html>
